.navigation {
    display: flex;
    
}
.menu-navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 46px 32px;
}
.menu-navigation > .menu-navigation__item:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color-hover);
    bottom: 0;
    left: 20.5%;
}
.menu-navigation__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-text);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation__link:hover {
    color: var(--brand-color-hover);

}
.menu-navigation__link:active {
    color: var(--brand-color-hover);
}